<template>
    
</template>

<script>
    export default {
        data(){
            return{
                name:'',
                description:'',
                rating:'',
                ticket_price:'',
                genres:[],
                country:'',
                release_date:'',
                photo:'',
                errors:[]
            }
        },
        methods:{
            submit(){
                this.errors=[]
                let formData=new FormData();
                formData.append( 'name',this.name)
                formData.append( 'description',this.description)
                formData.append( 'rating',this.rating)
                formData.append( 'ticket_price',this.ticket_price)
                formData.append( 'genres',this.genres)
                formData.append( 'country',this.country)
                formData.append( 'release_date',this.release_date)
                formData.append( 'photo',this.photo)
                axios.post('/api/film/store',
                //     {
                //     name:this.name,
                //     description:this.description,
                //     rating:this.rating,
                //     ticket_price:this.ticket_price,
                //     genres:this.genres,
                //     country:this.country,
                //     release_date:this.release_date,
                //     photo:this.photo,
                // }
                    formData
                ,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                        )
                    .then((res)=>{
                        window.location.href='/'
                    })
                    .catch((err)=>{
                       if(err.response.status!==422)
                           this.$swal('Error!',
                               'Something Went Wrong',
                               'error')
                       this.errors=err.response.data.errors
                        this.$forceUpdate()
                    })
            },
            setPhoto(e){
                this.photo = event.target.files[0]
                console.log(this.photo)
            }
        }
    }
</script>

<style scoped>

</style>