<template>
    
</template>

<script>
    export default {
        data(){
            return {
                name:'',
                comment: '',
                errors:[]
            }
        },
        props:['comments','film'],
        methods:{
            submitComment(){
                this.errors=[]
                axios.post('/comment/'+this.film,{
                    name: this.name,
                    comment: this.comment
                })
                    .then((res)=>{

                        this.comments.push(res.data)
                        this.$forceUpdate();
                    })
                    .catch((err)=>{
                        this.errors=err.response.data.errors
                    })
            }
        }
    }
</script>

<style scoped>

</style>