<template>
    
</template>

<script>
    export default {
       data(){
          return {
              filmsData:{},
          }


       },
        created(){
            this.getData('api/film')
        },
        methods:{
           getData(url){
               axios.get(url)
                   .then((res)=>{
                       this.filmsData=res.data
                       this.$forceUpdate()
                   })
           },
            nextPage(){
               this.getData(this.filmsData.next_page_url)
            },
            prevPage(){
                this.getData(this.filmsData.prev_page_url)
            }
        },
    }
</script>

<style scoped>

</style>