<template>
    
</template>

<script>
    export default {
       data(){
           return {
               film:{}
           }
       },
        props:['slug','user'],
        created(){
            this.getFilms()
        },
        methods:{
           getFilms(){
               axios.get('/api/film/'+this.slug)
                   .then((res)=>{
                       this.film=res.data
                   })
           },
            deleteFilm(){
                this.$swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/api/film/'+this.slug)
                            .then((res)=>{
                                this.$swal('Deleted','Successfully Deleted','success')
                                window.location.href='/'
                            })
                    }
                })

            }
        }
    }
</script>

<style scoped>

</style>